@font-face {
  font-family: "Movavi Grotesque Black";
  src: url("../fonts/Movavi Grotesque Black.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Changa One";
  src: url("../fonts/ChangaOne-Regular.ttf");
}